.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    background-color: rgba(248, 245, 245, 0.911);
}

#certificates {
    padding: 20px;
    text-align: center;
}

.certificate-card {
    background-color: rgb(9, 203, 216);
    border: 1px solid #080808;
    border-radius: 40px;
    padding: 15px;
    margin: 15px auto;
    max-width: 600px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.certificate-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.certificate-card h3 {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
p, h1, h2, h3, h4, h5, h6 {
    pointer-events: none;
  }
  
a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
    color: #f6089b;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    list-style: none;
    block-size: auto;
    padding: 20px;
    margin: 20px 0;
    text-align: left;
    pointer-events: auto;
}
a:hover
  {
    border-bottom: 5px solid rgb(41, 52, 199);
    border-radius: 10%;
    transition: 10ms ease;
  }